@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/Comapny.js" asp-append-version="true"></script>
<div class="text-center">
    <table width="1500"
">
        <thead border="1">
            <tr>
                <td align="left">Company Name</td>
                <td align="left">City</td>
                <td align="left">State</td>
                <td align="left">Phone Number</td>
            </tr>
        </thead>
        <tbody id ="grids">
           
        </tbody>
    </table>
</div>


